<header id="top-header">
  <div class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </div>
  <div id="tools">
    <% if (loggedin) { %>
      <!-- Display Logout link and Welcome Basic link -->
      <a title="Logout" href="/account/logout">Logout</a>
      <% if (accountData && (accountData.account_type === "Employee" || accountData.account_type === "Admin")) { %>
        <a title="Account Management" href="/account/management">Account Management</a>
      <% } %>
    <% } else { %>
      <!-- Display My Account link -->
      <a title="My Account" href="/account/login">My Account</a>
    <% } %>
  </div>
</header>