/******* Change Box Model ***************/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Share Tech Mono", sans-serif;
  margin: 0;
}

h1,
h2 {
  font-size: 1.2em;
}

#wrapper {
  width: 100%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

hr {
  border: 2px solid #3a3a3a;
}

section {
  margin-bottom: 2em;
  margin-top: 1em;
}

section h2,
h1 {
  margin-left: 0.25em;
}

/**
Header styles
 */
#top-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding-top: 2em;
  padding-left: 2em;
}

.siteName {
  font-size: large;
  font-weight: 800;
}

header a {
  align-self: center;
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1.2em;
}

/**
Nav styles
 */
nav {
  background-color: #3a3a3a;
  color: white;
}

nav ul {
  display: flex;
  padding: 0 0 0 0.25rem;
  justify-content: space-evenly;
  max-width: 100%;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

nav li {
  list-style: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

/**
Footer styles
 */
footer p {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  margin-left: 1em;
}

/* classifications styling */

#inv-display {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#inv-display li {
  margin-bottom: 0.5em;
  border: 1px #ccc solid;
  list-style-type: none;
  flex: 1 1 auto;
}

#inv-display li img {
  max-width: 100%;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("/images/site/small_check.jpg");
    background-size: cover;
  }

  h1 {
    font-size: 1.9em;
  }

  /* For vehicle display in classification view */
  #inv-display {
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  #inv-display h2 {
    font-size: 1rem;
  }

  #inv-display li {
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #inv-display div {
    width: 100%;
  }
}

main {
  padding-left: 0.25rem;
}

#delorean {
  background-image: url("/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

#delorean h2 {
  margin-left: 0;
}

#delorean a:hover {
  opacity: 0.5;
}

#delorean li {
  list-style: none;
  color: #4c96d7;
}

#delorean li h2 {
  margin-top: 0;
  margin-bottom: 0;
  color: #4c96d7;
}

#delorean ul {
  padding-left: 0;
  margin-top: 0;
  max-width: 200px;
  margin-left: 0.5em;
  margin-bottom: 8em;
  background-color: rgba(255, 255, 255, 0.7);
}

#delorean li {
  font-size: 0.85em;
}

#actionbtn {
  display: none;
}

#actionbtn:hover {
  opacity: 0.5;
}

.flex {
  display: flex;
  margin-bottom: 2em;
  justify-content: center;
  width: 100%;
  padding-left: 0.25em;
}

.flex a {
  width: 100%;
}

.add-col {
  background-color: #4c96d7;
  height: 5.5em;
  width: 95%;
  border: #3a3a3a solid 1px;
}

a figure {
  margin: 0;
}

figure img {
  display: block;
  margin: auto;
  padding-top: 0.5em;
}

figure figcaption {
  text-align: center;
}

#review li {
  font-size: 0.9em;
  margin-bottom: 1em;
}

@media only screen and (min-width: 768px) {
  #wrapper {
    border: 5px solid #4c96d7;
    border-radius: 10px;
    margin-top: 1em;
    width: 75%;
  }

  #delorean ul {
    font-size: 1.6em;
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 15em;
  }

  #delorean {
    background-size: contain;
    margin-bottom: 0;
  }

  #actionbtn {
    display: block;
    width: 90%;
    margin-top: 1.5em;
  }

  .flex-content {
    display: flex;
    justify-content: space-around;
  }

  #review h2,
  #add-ons h2 {
    font-size: 1.4em;
    margin-bottom: 2em;
  }

  #add-ons {
    order: -1;
  }

  #review li {
    font-size: 1.1em;
  }

  #add-ons {
    width: 45%;
  }

  #add-ons,
  #review {
    margin-top: 0;
  }

  /* form styling */

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 50%;
  }

  input[type="submit"] {
    width: 50%;
  }
}

/* For vehicle display in vehicle-view view */

.car-image img {
  width: 100%;
  /* max-width: 50px; */
}

.car-details {
  font-size: large;
  font-weight: bolder;
  padding: 0.3em;
}

@media only screen and (min-width: 768px) {
  #car {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    box-sizing: border-box;
  }

  #car-image {
    grid-column: 1/2;
  }

  #info-display {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

/* style notice messages */

.notice {
  color: red;
  font-weight: bold;
}

/* styling for forms */

/* Style the form container */
form {
  max-width: 400px;
  margin: 0 auto;
}

/* Style form labels */
label {
  font-weight: bold;
}

/* Style form inputs */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
#classificationList {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the submit button */
input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style the password visibility toggle */
#pswdBtn {
  cursor: pointer;
  color: #007bff;
}

#pswdBtn:hover {
  text-decoration: underline;
}

#pswdBtn {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 2px;
  margin-top: 1em;
  font-size: small;
  width: 7em;
  text-align: center;
}

/* Style for invalid inputs */
input:required:invalid,
textarea:required:invalid,
#classificationList:required:invalid {
  border: 1px solid red;
}

input:focus:invalid,
textarea:focus:invalid,
#classificationList:focus:invalid {
  outline: none;
  box-shadow: 0 0 5px red;
}

/* Style for valid inputs */
input:required:valid,
textarea:required:valid,
#classificationList:required:valid {
  border: 1px solid green;
  background-color: #90ee90;
}

#spanpass {
  display: inline-block;
  padding: 5px;
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Style the links container */
.links {
  text-align: center;
}

/* Style the links inside the div */
.links a {
  text-decoration: none;
  color: #333;
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

/* Style the links when hovered */
.links a:hover {
  background-color: #333;
  color: #fff;
}

#spanregister {
  display: block;
  margin-top: 20px;
  text-align: center;
  background-color: #f8d7da;
  padding: 10px;
}

#spanregister a {
  color: #dc3545;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

#spanregister a:hover {
  color: #c82333;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: auto; /* Center the table */
  border: 2px solid #000; /* Set outside border */
}

/* Style table header */
th {
  background-color: #f2f2f2;
  color: #333;
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Style table body */
td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

/* Style table links */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* style button when disabled */
input[type="submit"][disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}