<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- display a message -->
<%- messages() %>

<form action="/inv/add-inventory" method="post">
  <label for="classification">Classification:</label>
  <%- classificationList %>
  <label for="inv_make">Make:</label>
  <input type="text" id="inv_make" name="inv_make" required /><br />
  <label for="inv_make">Model:</label>
  <input type="text" id="inv_model" name="inv_model" required /><br />
  <label for="inv_year">Year:</label>
  <input type="number" id="inv_year" name="inv_year" required /><br />
  <label for="inv_description">Description:</label>
  <textarea
    type="textarea"
    id="inv_description"
    name="inv_description"
    rows="3"
    required
  ></textarea
  ><br />
  <label for="inv_image">Image:</label>
  <input type="text" id="inv_image" name="inv_image" required /><br />
  <label for="inv_thumbnail">Thumbnail:</label>
  <input type="text" id="inv_thumbnail" name="inv_thumbnail" required /><br />
  <label for="inv_price">Price:</label>
  <input type="number" id="inv_price" name="inv_price" required /><br />
  <label for="inv_miles">Miles:</label>
  <input type="number" id="inv_miles" name="inv_miles" required /><br />
  <label for="inv_color">Color:</label>
  <input type="text" id="inv_color" name="inv_color" required /><br />
  <input type="submit" value="Add To Inventory" />
</form>
